{% extends 'news/index.html'%}
{{block.super }}
{%block content%}


<div class="container mb-5">
<div class="row">
  {%if not news%}
    <h1>{{looos}}{{q}}</h1>
  {%endif%}
  {%for item in news%}
    <div class="col-sm-4">
    <div class="card mt-3" style="background-color: #A9A9A9;">
      <div class="card-body">
          <div class="media">
              <div class="text-center"><h5 class="card-title text-dark">{{item.title}}</h5></div>
              {%if item.photo%}
              <img src="{{item.photo.url}}" alt='' width="320" height="400" class="mr-3">
              {% else %}
              <img src='https://picsum.photos/id/237/320/400' alt=''>
              {% endif %}
              <div class="media-body">
                  <p class="card-text text-dark">{{item.title_content}}</p>
                  <a href="{% url 'news:detail' item.id%}" class="btn btn-dark text-whit">read more..</a>
              </div>
          </div>
      </div>
    <div class="card-footer text-dark">{{item.created_ad}}-{{item.autor}} </div>
    </div>
    </div>
  {%endfor%}
</div>
</div>
{%endblock content%}